@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* font-family: 'Dancing Script', cursive; */
.loguito{
  width: 30px;
}
.botoncito-nav{
  background-color: rgb(255, 255, 255) !important;
}
.linkNav{
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}
.fotoCarrito{
  object-fit: cover;
  width: 100%;
  height: 80vh;
  border: 1px solid #fff;
  border-radius: 20px;
}
